body {
  background-color: #333333;
  color: #ffffee;
}
h1.title {
  color: rgb(222, 228, 235);
  text-align: center;
}
h3.subtitle {
  color: rgb(253, 141, 60);
  text-align: center;
}
a {
  color: rgb(253, 141, 60);
}
a:hover {
  text-decoration: underline;
}
.explanation {
  background-color: #03153b;
  color: #b9b91f;
}
.selectedBar {
    fill: #994e0d;
}
.topicsChartContainer {
  border: 5px solid white;
  padding-left: 1em;
  margin: 1em;
}