body {
    background-color: #000000;
    color: #ffffee;
}
body, html {
    /* AI: My HTML div renders off the screen. How do I make it fit the screen in
        in CSS */
    margin: 0;
    padding: 0;
    
    width: 100%; 
    
    box-sizing: border-box; 
    background-color: #000000;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.center-horizontal {
    text-align: center; 
    width: fit-content; 
    margin: 0 auto;
}
.center-horizontal iframe {
    margin: 0;
    float: none;
}
.section {
    background-color: #000000;
    height: 100%;
}
h1.title {
    color: #DEE4EB;
    text-align: center;
}
h3.subtitle {
    color: #DEE4EB;
    text-align: center;
    font-family: sans-serif;
}
a {
    color: #095CD9;
}
a:hover {
    text-decoration: underline;
}
.explanation {
    background-color: #000000;
    color: #ffffff;
}
.selectedBar {
    fill: #994e0d;
}
.topicsChartContainer {
    border: 5px solid white;
}
#topicsLineChartContainer svg {
    margin-left: -100px; 
}
#normalizeCountsCheckboxLabel {
    position: absolute;
    top: 700px;
    left: 50px;
}
.button {
  /* AI: Give me the CSS for a simple button */
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.column {
    text-align: center;
}
.hidden {
    display: none;
}
#header {
    /* AI: Give me the CSS for a simple header for my HTML page. Make sure that
    the header is fixed on the page and has 3 buttons that users can click to
    navigate the website */
    width: 100%; 
    height: 50px;
    background-color: #333;
    color: white;
    padding: 10px 0; 
}

.topnav {
    /* AI: Give me the CSS for a simple header for my HTML page. Make sure that
    the header is fixed on the page and has 3 left justified buttons that users
    can click to navigate the website */
    display: flex;
    justify-content: flex-start;
    background-color: #333;
}

.topnav a {
    /* AI: Give me the CSS for a simple header for my HTML page. Make sure that
    the header is fixed on the page and has 3 left justified buttons that users
    can click to navigate the website */
    color: #f2f2f2;
    text-align: center;
    padding: 6px 14px;
    text-decoration: none;
    font-size: 14px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.citations {
    font-size: small;
}

#mapSection > .container:last-of-type {
    /* AI: How do I make sure my svg map is centered inside my div? */
    width: fit-content; 
    margin: 0 auto;
    text-align: center;
}

#tooltip {
    position: absolute;
    opacity: 0; 
    padding: 2px 2px;
    background: #333;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 14px;
    transition: opacity 0.2s;
    pointer-events: none;
    /* Added to make sure that it renders over the map not "under" */
    z-index: 9999; 
}